.aboutUsContainer {
    display: flex;
    margin-top: 9em;
    padding-bottom: 8em;
    line-height: 3em;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    text-align: center;
    position: absolute;

}

.paragraphAboutUs{
    font-size: 1.1em;
}


.sectionAboutUs {
    overflow: hidden;
    border: 1em solid white;
    width: 30em;
    margin-right: 7em;
    margin-left: 7em;
    border-radius:4em;
    padding: 4em;
    height: 100%;
    line-height: 2.2em;
}