.popUpModalConnexion{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
   
    
}

.AllModalConnexion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 70%;
}

.FormulaireConnexion{
    width: 100%;
}

.positionModalConnexionSurLaPage{
    padding: 20px;
    width: 60%;
    text-align: center;
    margin-top: 60px;
    background-color: aliceblue;
    border-radius: 5em;
    border: 0.5em solid white;
    margin-top: 150px;
    margin-bottom: 150px;
}

.titleTextModalConnexion{
    margin-bottom: 40px;
    font-size: large;
}

.divContainerConnexion{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
  
  .motDePasseConnexion, .inputMailConnexion{
      position: relative;
     display: flex;
      width: 100%;
      margin-bottom: 40px;
  }
  
  .titreFormulaireConnexion{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }
  
  .AllDivConnexion{
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 50px;
      width: 100%;
  }
  
  .inputFirstNameAndNameConnexion, .inputMailTelephone{
      display: flex;
      justify-content: space-between;
  }
  
  input{
      border: solid 1.5px #144b60;
      border-radius: 1rem;
      background: none;
      padding: 1rem;
      width: 90%;
      font-size: 1rem;
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
      border: 0.1rem solid #144b60;
  }
  
  label{
      position: absolute;
      left: 16px;
      padding: 0.5em;
      border-radius: 0.5em;
      pointer-events: none;
      transform: translateY(1rem);
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  input ~ label {
      transform: translateY(-50%) scale(0.8);
      background-color: #144b60;
      color: white;
  }
  
.croixFermeture{
 width:100%;
 display: flex;
 justify-content: flex-end;

}

.croixFermeture button{
    box-shadow: 3px 3px 3px rgb(93, 92, 92);
    padding: 6px 7px 6px 7px;
    border-radius: 100%;
    border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.btn {
  position: relative;
  display: inline-block;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
.btn--primary {
  color: #144b60;
}
.btn--border {
  border: 1px solid #144b60;
  border-radius: 10px;
  box-sizing: border-box;
}
.btn--animated {
  transition-property: color;
  transition-duration: 0.2s;
}
.btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #144b60;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.btn--animated:hover {
  color: #fff;
}
.btn--animated:hover:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}