.topNavBar {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    padding: 1em;
    z-index: 2;
  }

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    color: white;
    
  }

a {
  color: white;
  text-decoration: none;
  }

  .menu a:hover{
    text-decoration: underline;
  }

  
  .menu > li:hover{
    text-decoration: underline;
  }

