.Periods {
    background-image: url('../../public/espace.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: fixed;
    margin: 0;
    padding: 0;
}



.Period__Un,
.Period__Deux,
.Period__Trois {
    border: solid 3px black;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    margin-right: 4em;
}

.Period__Un img,
.Period__Deux img,
.Period__Trois img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.Period__Un {
    position: absolute;
    top: 24%;
    left: 18%;
}

.Period__Deux {
    position: absolute;
    top: 23%;
    left: 50%;
}

.Period__Trois {
    position: absolute;
    top: 35%;
    right: 8%;
}

.Period__Infos__Greece {
    position: absolute;
    bottom: 5em;
    left: 3em;
    width: 15vw;
    height: 40vh;
    background-image: url("../../public/wanted.png");
    background-size: cover;
    text-align: center;
    line-height: 40vh;

}

.Period__Infos__Greece p {
    padding: 0 1em;

}

.Period__Un:hover,
.Period__Deux:hover,
.Period__Trois:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.earth {
    /* position: relative; */
    /* width: 50vw;
    margin: 15vh 0;
    height: 70vh; */
    /* background-image: url("../../public/590923.jpg");
    background-size: contain;
    background-position: center; */

    width: 35vw;
    height: 65vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.earth:after {
    /* position: absolute; */
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
}

.earth>div {
    width: 200%;
    height: 100%;
    animation: spin 30s linear alternate infinite;
    background: url("../../public/world.jpg");
    /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
    background-size: cover;
}

@keyframes spin {
    to {
        transform: translateX(-50%);
    }
}