
@keyframes spin {
    to {
        transform: translateX(-50%);
    }
}

.earth {
    position: relative;
    width: 38em;
    height: 38em;
    overflow: hidden;
    border-radius: 50%;
    border: 1em solid rgb(255, 255, 255);
    /* box-shadow: 0 0 20px 20px rgb(158, 158, 158) inset, 0 0 2em 2px rgb(145, 144, 144); */
}


.earth>div {
    width: 200%;
    height: 100%;
    animation: spin 10s linear alternate infinite;
    background: url("../../public/worldmap.png");
    background-size: cover;
}

.period {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.period img {
    object-fit: cover;
    width: inherit;
    height: inherit;
}

.period:hover {
    transform: scale(2);
    cursor: pointer;
}

.farwest{
    position: absolute;
    top: 45%;
    left: 15%;
}

.grece{
    position: absolute;
    bottom: 40%;
    left: 50%;
}

.samurai {
    position: absolute;
    top: 55%;
    right: 14%;
}

.china {
    position: absolute;
top: 25%;
right: 12%;
}

.frame {
    text-align: center;
    width: auto;
    background-color:azure;
    border-radius: 5%;
    font-display: center;
}

.frame p {
    font-weight: bold;
}
