.popUpModal {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.AllModal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 7em;

}

.positionModalSurLaPage {
    padding: 40px;
    width: 40%;
    text-align: center;
    margin-top: 150px;
    background-color: rgb(223, 213, 199);
    box-shadow: 5px 5px 5px rgb(121, 110, 96);
    border-radius: 40px;
}

.titleTextModal {
    margin-bottom: 40px;
    font-size: large;
    color: rgb(121, 110, 96);
    ;
}

.boutonModalValidationModal {
    color: white;
    background-color: black;
    border-radius: 50px;
    font-size: medium;
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;

}


