/* FONTS-CONTENT */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
}

/* VARIABLE-CONTENT */
:root {
    --dark-grey-color: #6b6b6b;
    --grey-color: #c4c3c3;
    --white-color: #ffffff;
    --red-color: #f36d6d;
    --font-typed: "Josefin Sans";
}

section {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: aliceblue;
}

#background-video{
  height: 100%;
  width: 200%;
  z-index: 0;
  float: left;
  top: 0;
  position: fixed;
  transform: rotate(90deg);
  opacity: 1;
  }
  

@keyframes zoom {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

  