.divContainerFormulaire{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
  margin: auto;
  position: relative;
  border-radius: 3em;
  background-color: aliceblue;
  border: 0.5em solid white;
}

.tempsReservation{
  margin-bottom: 7em;
}

.inputFirstName, .inputLastName, .heureReservation, .dateReservation{
    position: relative;
    width: 40%;
    margin-bottom: 60px;
}

.titreFormulaireReservation{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.AllDivFormulaireReservation{
    padding-right: 30px;
    padding-left: 50px;
    padding-top: 30px;
    width: 65em;
    padding-bottom: 40px;
    border-radius: 40px;
}

.inputFirstNameAndName,
.inputDateReservationHeureReservation{
    display: flex;
    justify-content: space-between;
}


select{
        width: 100%;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        color: rgb(121, 110, 96);
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 4px 4px #ccc;
}

.AllNombrePersonnesTemps{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;

}

.nombrePersonnes{
    margin-bottom: 40px;
}


.devis{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -6em;
    font-size: x-large;
}