.popUpModalCreationCompte{
    overflow-x: scroll;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.AllModalCreationCompte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.FormulaireCreationCompte{
    width: 100%;
}

.positionModalCreationCompteSurLaPage{
    padding: 20px;
    width: 60em;
    text-align: center;
    margin-bottom: 100px;
    background-color: aliceblue;
    border-radius: 5em;
    border: 0.5em solid white;
    margin-top: 100px;
}

.titleTextModalCreationCompte{
    margin-bottom: 40px;
    font-size: large;
    color: rgb(121, 110, 96);;
}

.divContainerCreationCompte{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .AllMotDePasse{
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }

.inputNomDeRueCreationCompte{
    position: relative;
    display: flex;
      width: 105%;
      margin-right: 5px;
      margin-bottom: 40px;
}

  .inputFirstNameCreationCompte, .inputNumeroRueCreationCompte, .motDePasseCreationCompte, .confirmationMotDePasseCreationCompte,  .inputCodePostalCreationCompte, .inputVilleCreationCompte, .inputLastNameCreationCompte, .inputMailCreationCompte, .inputTelephoneCreationCompte{
      position: relative;
      width: 47%;
      margin-bottom: 40px;
  }
  
  .titreFormulaireCreationCompte{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }
  
  .AllDivCreationCompte{
      padding: 4em;
      width: 100%;
  }
  
  .inputFirstNameAndNameCreationCompte, .allAdresseCreationCompte, .inputMailTelephoneCreationCompte{
      display: flex;
      justify-content: space-between;
      gap: 5em;
  }

  .allCodePostalVille{
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }
  
  

  
