.popUpModalCreationCompte{
    overflow-x: scroll;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
}

.AllModalCreationCompte{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.FormulaireCreationCompte{
    width: 100%;
}

.positionModalCreationCompteSurLaPage{
    padding: 20px;
    width: 60em;
    text-align: center;
    margin-bottom: 100px;
    background-color: aliceblue;
    border-radius: 5em;
    border: 0.5em solid white;
    margin-top: 100px;
}

.titleTextModalCreationCompte{
    margin-bottom: 40px;
    font-size: large;
    color: rgb(121, 110, 96);;
}

.divContainerCreationCompte{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }

  .AllMotDePasse{
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }

.inputNomDeRueCreationCompte{
    position: relative;
    display: flex;
      width: 105%;
      margin-right: 5px;
      margin-bottom: 40px;
}

  .inputFirstNameCreationCompte, .inputNumeroRueCreationCompte, .motDePasseCreationCompte, .confirmationMotDePasseCreationCompte,  .inputCodePostalCreationCompte, .inputVilleCreationCompte, .inputLastNameCreationCompte, .inputMailCreationCompte, .inputTelephoneCreationCompte{
      position: relative;
      width: 47%;
      margin-bottom: 40px;
  }
  
  .titreFormulaireCreationCompte{
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }
  
  .AllDivCreationCompte{
      padding: 4em;
      width: 100%;
  }
  
  .inputFirstNameAndNameCreationCompte, .allAdresseCreationCompte, .inputMailTelephoneCreationCompte{
      display: flex;
      justify-content: space-between;
      gap: 5em;
  }

  .allCodePostalVille{
    display: flex;
    justify-content: space-between;
    gap: 5em;
  }
  
  input{
      border: solid 1.5px grey;
      border-radius: 1rem;
      background: none;
      padding: 1rem;
      width: 90%;
      font-size: 1rem;
      color: rgb(98, 90, 79);
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
      border: 0.1rem solid rgb(121, 110, 96);
  }
  
  label{
      position: absolute;
      left: 16px;
      color: rgb(255, 255, 255);
      pointer-events: none;
      transform: translateY(1rem);
      transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  input ~ label {
      transform: translateY(-50%) scale(0.8);
      background-color: rgb(139, 132, 123);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  .wrapper {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      font-family: 'Roboto', sans-serif;
  }
  
  .btn {
    position: relative;
    display: inline-block;
    letter-spacing: 1.2px;
    padding: 12px 32px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  .btn--primary {
    color: rgb(87, 80, 70);
  }
  .btn--border {
    border: 1px solid rgb(87, 80, 70);
    border-radius: 10px;
    box-sizing: border-box;
  }
  .btn--animated {
    transition-property: color;
    transition-duration: 0.2s;
  }
  .btn--animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(121, 110, 96);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  .btn--animated:hover {
    color: #fff;
  }
  .btn--animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  }

  
